
.App {
  background: #010a17;
  color: #fff;
  font-family: 'Open Sans';
  width: 375px;
}

#analyze-reviews-button {
  background-color: #fefefe;
  color: #010a17;
  border-radius: 7px;
  width: 300px;
  height: 53px;
  font-size: 1.2em;
  margin-top: 5rem;
}

#temp-text {
  display: none;
  color: #747474;
}

#loader {
  display: none;
}

.min-div {
  text-align: center;
}

.start-btn {
  background-color: #f5c00b;
  color: #010a17;
  border-radius: 7px;
  width: 167px;
  height: 53px;
  font-size: 1.2em;
  margin-top: 5rem;
}

.loading-btn {
  background-color: #f5c00b;
  opacity: 0.62;
  color: #010a17;
  border-radius: 7px;
  width: 200px;
  height: 53px;
  font-size: 1.2em;
  margin-top: 4rem;
}

p,
li {
  font-size: 18px;
}
